<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Layout ST</title>
    <style>
        * {margin: 0; top: 0;}
        #wrap { width: 1000px; margin: 0 auto; }
        #header { width: 1000px; height: 100px; background: #222;}
        #nav { width: 1000px; height: 100px; background: #555; }
        #aside { width: 300px; height: 700px; background: #666; float: left; }
        #section { width: 700px; height: 700px; background: #777; float: left; }
        #footer { width: 1000px; height: 100px; background: #888; clear: both; }

    </style>
</head>
<body>
    <div id="wrap">
        <header id="header"></header>
        <nav id="nav"></nav>
        <aside id="aside"></aside>
        <section id="section"><h2>hyunji</h2></section>
        <footer id="footer"></footer>
    </div>
</body>
</html>